.env
/config.php
/vendor/
/node_modules/

/logs/*
!/logs/.gitkeep

/tmp/*
!/tmp/.gitkeep

/storage/cache/*
!/storage/cache/.gitkeep

/storage/sessions/*
!/storage/sessions/.gitkeep

/storage/uploads/*
!/storage/uploads/.gitkeep

/storage/installations/*
!/storage/installations/.gitkeep

/backups/*
!/backups/.gitkeep
.env
